

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-heigth: 100vh;
    text-align: center;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
    width:600px;
    margin-left: 15px;
    border-radius: 5px;
     padding: 20px 16px 24px 16px;
     border: 1px solid #dfe1e5;
    box-shadow: none;
    position: relative;
    border-radius: 8px;
}

.flex{
    display: flex;
    flex-flow: row;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}